<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/header :: Header"> </div>
    <title>Account</title>
</head>

<div th:replace="/header :: header"> </div>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Account Type</th>
        <th scope="col">Buyer</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Name</td>
        <td>John Smith</td>

    </tr>
    <tr>
        <td>Location</td>
        <td>Chicago</td>

    </tr>
    <tr>
        <td>Favorite</td>
        <td>House, Condo</td>

    </tr>
    </tbody>
</table>
</body>
</html>