<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  
    <meta charset="UTF-8">
    <title>Buy</title>
    <div th:replace="/header :: Header"> </div>
  
</head>
<body>

<div th:replace="/header :: header"> </div>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Amazing Condo!!!!</h5>
        <p class="card-text"> 2Beds 2Baths 1,250 Sq.Ft</p>
    </div>
    <div class="card-body">
        <a href="#" class="card-link">Condo link</a>
        <a href="#" class="card-link">Add to Favorite</a>

    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Beautiful Detached Single Family!!!!</h5>
        <p class="card-text"> 4Beds 2Baths 3,190 Sq.Ft</p>
    </div>
    <div class="card-body">
        <a href="#" class="card-link">House link</a>
        <a href="#" class="card-link">Add to Favorite</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Duplex Condo!!!!</h5>
        <p class="card-text"> 3Beds 2.5Baths 1,800 Sq.Ft</p>
    </div>
    <div class="card-body">
        <a href="#" class="card-link">Condo link</a>
        <a href="#" class="card-link">Add to Favorite</a>
    </div>
</div>

</body>
</html>