<!DOCTYPE html>

<html lang = "en" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset = "UTF-8">
        <title th:text="${seller.firstName} + ' ' + ${seller.lastName}"></title>

    </head>

    <body>

        <h1 th:text="'User Profile for: ' + ${seller.firstName} + ' ' + ${seller.lastName}"></h1>
        <h3 th:text="${seller.firstName}"></h3>
        <h3 th:text="${seller.lastName}"></h3>
        <h3 th:text="${seller.email}"></h3>
        <a href="#" th:href="@{/sellers/edit/{id}(id=${seler.id})}"><button>Edit details</button> </a>
        <a href="#" th:href="@{/sellers/delete/{id}(id=${seller.id})}"><button>Delete Profile</button> </a>

    </body>

</html>
