<!DOCTYPE html>

<html lang = "en" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset = "UTF-8">
        <title>Sign Up</title>

    </head>

    <body>

        <h1>Sign UP</h1>

        <form action="#" th:action="@{/buyers/signup}" th:object="${buyer}" method="post">
            <label>First Name: </label>
            <input type="text" th:field="*{firstName}"/> <br/>
            <label>Last Name: </label>
            <input type="text" th:field="*{lastName}"/> <br/>
            <label>Email: </label>
            <input type="text" th:field="*{email}"/> <br/>

            <input type="submit" value="Submit"/>
        </form>

    </body>

</html>
